<div class="content" *ngIf='projects && projects.length'>
    <div class="row">
      <div class="col-md-12">
        <input type="text" class="form-control" id="search"  placeholder="Search..." name="project" ngModel required />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="form-inline ">
          <label for="parenttask_Name" class="col-md-4 col-form-label"><strong>Sort By:</strong></label>
          <div class="form-group">
            <div class="">
              <button class="btn btn-secondary btn-sm  mr-1" type="button" value="Start Date">Start Date</button>
            </div>
          </div>
          <div class="form-group">
            <div class="">
              <button class="btn btn-secondary btn-sm  mr-1" type="button" value="End Date">End Date</button>
            </div>
          </div>
          <div class="form-group">
            <div>
              <button class="btn btn-secondary btn-sm  mr-1" type="button" value="">Priority</button>
            </div>
          </div>
          <div class="form-group">
            <div class="">
              <button class="btn btn-secondary btn-sm  mr-1" type="button" value="">Completed</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <ng-container *ngFor='let project of projects'>
      <div class="row" style="background: lightgrey">
        <div class="col-md-6">
            <div class="row d-none">
                <div class="col-md-4"><strong> Project:</strong></div>
                <div class="col-md-8">
                  <label name="projectDescription">{{project.ProjectId}}</label>
                </div>
              </div>
          <div class="row">
            <div class="col-md-3"><strong> Project:</strong></div>
            <div class="col-md-6">
              <label name="projectDescription">{{project.Projects}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <strong>No. of tasks:</strong>
            </div>
            <div class="col-md-3">
              <label>5</label>
            </div>
            <div class="col-md-3">
              <strong>Completed:</strong>
            </div>
            <div class="col-md-3">
              <label>Yes</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <strong>Start Date:</strong>
            </div>
            <div class="col-md-3">
              <label>{{project.StartDate | date:'dd/MM/yyyy'}}</label>
            </div>
            <div class="col-md-3">
              <strong>End Date:</strong>
            </div>
            <div class="col-md-3">
              <label>{{project.EndDate | date:'dd/MM/yyyy'}}</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12"><strong>Priority:</strong></div>
          </div>
          <div class="row">
            <label class="col-md-12">{{project.Priority}}</label>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-secondary btn-sm  mb-2 mt-2" type="button" (click)="onUpdateProjectClick(project)" value="Update">Update</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <button class="btn btn-secondary btn-sm  mb-2 mt-2" type="button" value="Suspend">Suspend</button>
            </div>
          </div>
        </div>
  
      </div>
      <br />
   </ng-container>
  
   </div>
   <div class="borderline"></div>
  
  